body {
    margin-left: 3%;
    margin-right: 3%;
    background-color: lightseagreen;
}

#texto {
    text-align: justify;
    margin-right: 0%;
    margin-left: 3%;
}

.tablero {
    border-radius: 30%;
    width: 100px;
}