body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4%;
    margin-right: 4%;
}

h1 {
    text-align: center;
    background-color: rgb(53, 53, 160);
    color: white;
    font-weight: bold;
}

p {
    background-color: rgb(110, 110, 235);
    color: white;
}